@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
/* font-family: 'Roboto Condensed', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');
/* font-family: 'Cantarell', sans-serif; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    background-color: #cdf3bd;
}

header h1{
    font-family: 'Cantarell', sans-serif;
    font-size: 3.2rem;
}
#main {
    background-color: #ffffff;
    width: 70vw;
    height: 70vh;
    min-width: 760px;
    max-width: 1280px;
    min-height: 490px;
    max-height: 510px;
    box-shadow: 2px 2px 2px #20550a;
    border-radius: 5px;
    margin: 0.3rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 4rem 8rem 8rem 5.4rem 3rem;
    gap: 7px;
    grid-template-areas: "h h h h"
                         "uc d d d"
                         "uc d d d"
                         "uc sb sb sb"
                         "f f f f";
}
header {
    grid-area: h;
    background-color: #071900;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
}

div#userChoices {
    border-radius: 5px;
    grid-area: uc;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 10px;
    overflow: hidden;
}


div.faixa {
    display: block;
    width: 196px;
    height: 90px;
    padding-right: 30px;
    position: relative;
    
}
div#startBtn {
    width: 100%;
    margin-left: 0px;
}
#startBtn input{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2rem;
    width: 100%;
    height: 5.2rem;
}

#pedraBtn, #papelBtn, #tesouraBtn {
    display: none;
}

.faixa label {
    cursor: pointer;
    position: absolute;
    left: -5.2rem;
    transition: left 0.1s;
}

.faixa label:hover {
    left: -3.5rem;
}
.faixa img {
    height: 5.2rem; /**/
}


input[type="radio"]:checked+label { 
    left: -3.5rem;
}

#gameDisplay {
    position: relative; 
    grid-area: d;
    box-shadow: 2px 2px 2px #20550a;
    border: 1px solid #20550a;
    border-radius: 5px;
    margin-right: 10px;
    
}

#boardscore {
    grid-area: sb;
    box-shadow: 2px 2px 2px #20550a;
    border: 1px solid #20550a;
    border-radius: 5px;
    margin-right: 10px;
    text-align: center;
    padding-top: 0.5rem;
}
#boardscore p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
    margin-bottom: -2rem;
}

img#luvasBackground {
    position: absolute;
    left: 28%;
    background-image: url(_images/luvas.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    z-index: 1;
    height: 100%;
}

img#userDisplay {
    opacity: 1;
    position: absolute;
    height: 10rem;
    z-index: 2;
    left: 6.5rem;
    top: 25%;
}

img#machineDisplay {
    opacity: 1;
    position: absolute;
    height: 10rem;
    z-index: 2;
    left: 19rem;
    top: 25%;
}

#userWinner, #machineWinner {
    display: inline-block;
    width: 150px;
    height: 75px;
}

#userScore, #machineScore {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    background-color: #666666;
    color: #ffffff;
    border-radius: 3px;
}

footer {
    font-family: 'Roboto Condensed', sans-serif;
    color: #666666;
    text-align: center;
    grid-area: f;
}
footer p {
    margin-top: 0.3rem;
}

footer a {
    text-decoration: none;
    color: #666666;
}




/*********** Design para mobile **********/
@media screen and (max-width: 400px) {
    #main {
        background-color: #ffffff;
        width: 98vw;
        height: 98vh;
        min-width: 300px;
        max-width: 320px;
        min-height: 38rem;
        border-radius: 5px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 4rem 5rem 8rem 8rem 7rem 3rem;
        gap: 7px;
        grid-template-areas: "h h h h"
                             "uc uc uc uc"
                             "d d d d"
                             "d d d d"
                             "sb sb sb sb"
                             "f f f f";
    }


    div#userChoices {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 0;
        overflow: hidden;
        
    }
    div.faixa {
        display: block;
        width: 80px;
        height: 80px;
        overflow: hidden;
        position: relative;
        
    }
    div#startBtn {
        width: 80px;
        height: 80px;
    }
    #startBtn input{
        width: 100%;
        height: 100%;
    }
    div.faixa img {
        position: absolute;
        z-index: 1;
    }
    div.faixa input {
        display: list-item;
        position: absolute;
        z-index: 2;
    }
    #pedraBtn, #papelBtn, #tesouraBtn {
        display: list-item;
        
    }
    .faixa label:hover {
        left: -5.2rem;
    }
    input[type="radio"]:checked+label { 
        left: -5.2rem;
    }

    #gameDisplay {
        margin: 0 5px 0 5px;
        
    }

    #boardscore {
        margin: 0 5px 0 5px;
        text-align: center;
        padding-top: 0.5rem;
    }

    #userWinner, #machineWinner {
        width: 100px;
    }

    img#luvasBackground {
        left: 47px;
    }

    img#userDisplay {
        height: 7rem;
        left: 1.5rem;
        top: 5.5rem;
    }
    
    img#machineDisplay {
        height: 7rem;
        left: 10.5rem;
        top: 5.5rem;
    }
}